body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    --container-width: 800px;
    --container-height: 300px;
}

.general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caroussel-container {
    width: var(--container-width);
    height: var(--container-height);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: url(./images/2.jpg); */
    background-size: cover;
    background-position-y: center;
}

.caroussel-container button {
    appearance: none;
    display: block;
    border: none;
    height: 40px;
    width: 40px;
    opacity: 0.5;
}

button.left {
    border-radius: 0px 10px 10px 0px;
}

button.right {
    border-radius: 10px 0px 0px 10px;
}

.circles-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.circles-container button {
    appearance: none;
    border: none;
    background-color: white;
    display: block;
    width: 25px;
}

button:hover {
    cursor: pointer;
}